body {
  margin: 0;
  font-family: 'Turret Road', cursive;
  background-color: cornflowerblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.col{
    background-color: black;
}
.text-primary{
    font-size: 40pt!important;
}